<section class="help-section">
  <h1 class="help-section__title text-gradient--pink">How do I use this?</h1>
  <p>Hiya, welcome to the Climate Live Meme Generator! Basically, you can use this to create quick and easy graphics for use across social media! Here’s a quick explainer on how to use if you’re confused.</p>

  <p>Step 1 - Choose where you’re posting - Twitter, Instagram (post and story) and Facebook sizes are supported (let us know if you need more sizes, we can add them).</p>

  <p>Step 2 - Choose your background. You can have either a solid background or an image. If you want a solid background, just click the colour and you’re done! Ignore the drag and drop and resize bits. If you want to add a picture, drag and drop it to the dotted box and use the slider to resize. If you uploaded the wrong file by mistake you can reset it by reloading the tab. You can also add an overlay if you need the text to stand out more.</p>

  <p>Step 3 - Add your text! You can choose the alignment (left, right or centre), choose the size (small, medium or large), choose the font (most of the variations of Work Sans), and choose the colour (white or black). If you’re changing the colour, make sure to change the logo to match in the box below. You can also click on text shadow if the text needs to be more visible. </p>

  <p>Step 4 - Add or remove credit. This is if you’re quoting someone or an article. Enter that in there. Or, if you don’t need it, just delete the text in the box and it should disappear.</p>

  <p>Step 5 - Download! When you’re happy with everything, click the big orange button and the image should download. The site won’t reload tho, so if you need to make more edits you can always download. To reset all the fields just reload the tab.</p>

  <p>Have fun! If you have any questions just message @louismitc on telegram or email louis@climatelive.org, and if you find any bugs you can log them href<a href="https://github.com/climatelive/meme/issues">here</a>.</p>
</section>